<!DOCTYPE html>
<html lang="en">
<head>
    {% load humanize %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 align="center">
        <strong>Centro Medico de Especialidades de Jiquilpan</strong>
    </h1>
</div>
<div>
    <p align="right"><strong>Fecha de generaci&oacute;n:</strong> {% now "d/m/Y H:i" %}</p>
    <table>
        <thead>
        <tr>
            <th>Paciente</th>
            <th>Ingreso</th>
            <th>Estado del paciente</th>
            <th>Alta</th>
            <th>Ingresado por</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align="center">{{ hospitalization.patient }}</td>
            <td align="center">{{ hospitalization.created|date:"d/m/Y H:i" }}</td>
            <td align="center">
                {% if hospitalization.state == 'ENTRY' %}
                    INGRESO
                {% elif hospitalization.state == 'PRE-HIGH' %}
                    PRE-ALTA
                {% elif hospitalization.state == 'HIGH' %}
                    ALTA
                {% endif %}
            </td>
            <td align="center">
                {% if hospitalization.state == 'HIGH' %}
                    {{ hospitalization.modified|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td align="center">
                {{ hospitalization.created_by }}
                - {{ hospitalization.created_by.first_name }} {{ hospitalization.created_by.last_name }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div id="charges">
        <h1>Cargos</h1>
        <table border="0.5px">
            <thead>
            <tr>
                <th style="padding-top: 3px">Nombre</th>
                <th style="padding-top: 3px">Tipo de cargo</th>
                <th style="padding-top: 3px">Producto</th>
                <th style="padding-top: 3px">Cantidad</th>
                <th style="padding-top: 3px">Almacen</th>
                <th style="padding-top: 3px">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for charge in hospitalization.charge_set.all %}
                {% if not charge.is_refund %}
                    <tr>
                        <td style="padding-top: 3px; text-align: center">{{ charge.name }}</td>
                        <td style="padding-top: 3px; text-align: center">{{ charge.charge_type }}</td>
                        {% if charge.product %}
                            <td style="padding-top: 3px; text-align: center">{{ charge.product }}</td>
                            <td style="padding-top: 3px; text-align: center">{{ charge.quantity }}</td>
                            <td style="padding-top: 3px; text-align: center">{{ charge.warehouse }}</td>
                        {% else %}
                            <td style="padding-top: 3px; text-align: center">-</td>
                            <td style="padding-top: 3px; text-align: center">-</td>
                            <td style="padding-top: 3px; text-align: center">-</td>
                        {% endif %}
                        <td style="padding-top: 3px; text-align: center">$ {{ charge.total|intcomma }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
        <div align="right" style="padding-top: 3px">
            <td style="padding-top: 3px; text-align: center">
                $ {{ hospitalization.charge_total|intcomma }}
            </td>
        </div>
    </div>
    <div>
        <div id="space">
            <h1>Habitaci&oacute;n</h1>
            <table border="0.5px">
                <thead>
                <tr>
                    <th style="padding-top: 3px">Habitaci&oacute;n</th>
                    <th style="padding-top: 3px">Ingresado</th>
                    <th style="padding-top: 3px">Pre-Alta</th>
                    <th style="padding-top: 3px">D&iacute;as ingresado</th>
                    <th style="padding-top: 3px">Costo por d&iacute;a</th>
                    <th style="padding-top: 3px">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="padding-top: 3px; text-align: center">{{ hospitalization.space }}</td>
                    <td style="padding-top: 3px; text-align: center">{{ hospitalization.created|date:"d/m/Y H:i" }}</td>
                    <td style="padding-top: 3px; text-align: center">
                        {% if hospitalization.pre_high_date %}
                            {{ hospitalization.pre_high_date|date:"d/m/Y H:i" }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td style="padding-top: 3px; text-align: center">{{ hospitalization.days_since_entry }}</td>
                    <td style="padding-top: 3px; text-align: center">$ {{ hospitalization.space_cost|intcomma }}</td>
                    <td style="padding-top: 3px; text-align: center">
                        $ {{ hospitalization.space_cost_by_day|intcomma }}</td>
                </tr>

                </tbody>
            </table>
            <div align="right" style="padding-top: 3px">
                <td style="padding-top: 3px; text-align: center">
                </td>
            </div>
        </div>

        <div id="refunds">
            <h1>Reembolsos</h1>
            <table border="0.5px">
                <thead>
                <tr>
                    <th style="padding-top: 3px; text-align: center">Nombre</th>
                    <th style="padding-top: 3px; text-align: center">Descripci&oacute;n</th>
                    <th style="padding-top: 3px; text-align: center">Producto</th>
                    <th style="padding-top: 3px; text-align: center">Cantidad</th>
                    <th style="padding-top: 3px; text-align: center">Almacen</th>
                    <th style="padding-top: 3px; text-align: center">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for charge in hospitalization.charge_set.all %}
                    {% if charge.is_refund %}
                        <tr>
                            <td style="padding-top: 3px; text-align: center">{{ charge.name }}</td>
                            {% if charge.description %}
                                <td style="padding-top: 3px; text-align: center">{{ charge.description }}</td>
                            {% else %}
                                <td style="padding-top: 3px; text-align: center">-</td>
                            {% endif %}
                            {% if charge.product %}
                                <td style="padding-top: 3px; text-align: center">{{ charge.product }}</td>
                                <td style="padding-top: 3px; text-align: center">{{ charge.quantity }}</td>
                                <td style="padding-top: 3px; text-align: center">{{ charge.warehouse }}</td>
                            {% else %}
                                <td style="padding-top: 3px; text-align: center">-</td>
                                <td style="padding-top: 3px; text-align: center">-</td>
                                <td style="padding-top: 3px; text-align: center">-</td>
                            {% endif %}
                            <td style="padding-top: 3px; text-align: center">$ {{ charge.total|intcomma }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div align="right" style="padding-top: 3px">
                <td style="padding-top: 3px; text-align: center">
                    $ {{ hospitalization.refund_total|intcomma }}
                </td>
            </div>
        </div>

        <div id="discounts">
            <h1>Descuentos</h1>
            <table border="0.5px">
                <thead>
                <tr>
                    <th style="padding-top: 3px; text-align: center">Nombre</th>
                    <th style="padding-top: 3px; text-align: center">Monto</th>
                </tr>
                </thead>
                <tbody>
                {% for discount in hospitalization.discount_set.all %}
                    {% if discount.amount %}
                        <tr>
                            <td style="padding-top: 3px; text-align: center">{{ discount.name }}</td>
                            <td style="padding-top: 3px; text-align: center">$ {{ discount.amount|intcomma }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div align="right" style="padding-top: 3px">
                <td style="padding-top: 3px; text-align: center">
                    $ {{ hospitalization.discounts_amount_total|intcomma }}
                </td>
            </div>
        </div>

        <div id="payments">
            <h1>Pagos</h1>
            <table border="0.5px">
                <thead>
                <tr>
                    <th style="padding-top: 3px; text-align: center">Monto</th>
                    <th style="padding-top: 3px; text-align: center">Fecha</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in hospitalization.payment_set.all %}
                    <tr>
                        <td style="padding-top: 3px; text-align: center">$ {{ payment.amount }}</td>
                        <td style="padding-top: 3px; text-align: center">{{ payment.created|date:"d/m/Y H:i" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right" style="padding-top: 3px">
                <td style="padding-top: 3px; text-align: center">
                    $ {{ hospitalization.payments_total }}
                </td>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <table align="right" border="0.5px" width="200px">
            <tr style="padding-top: 3px">
                <th colspan="2">Desglose final</th>
            </tr>
            <tr>
                <td style="padding-top: 3px; text-align: center">Cargos</td>
                <td style="padding-top: 3px; text-align: center">$ {{ hospitalization.charge_total|intcomma }}</td>
            </tr>
            <tr>
                <td style="padding-top: 3px; text-align: center">Reembolsos</td>
                <td style="padding-top: 3px; text-align: center">$ {% if hospitalization.refund_total > 0 %}
                    -{% endif %}{{ hospitalization.refund_total|intcomma }}</td>
            </tr>
            <tr>
                <td style="padding-top: 3px; text-align: center">Descuentos</td>
                <td style="padding-top: 3px; text-align: center">
                    $ {% if hospitalization.discounts_amount_total > 0 %}
                    -{% endif %}{{ hospitalization.discounts_amount_total|intcomma }}
                </td>
            </tr>
            <tr>
                <td style="padding-top: 3px; text-align: center"><strong>Total</strong></td>
                <td style="padding-top: 3px; text-align: center">
                    <strong>$ {{ hospitalization.hospitalization_total|intcomma }}</strong></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>